<header class="site-header">
  <div>
    {{#if site.profile.photoUrl}}
      <img class="header-photo" src="{{site.profile.photoUrl}}" alt="Profile photo" />
    {{else}}
      <div class="header-photo-placeholder">{{initials site.title}}</div>
    {{/if}}
  </div>

  <div class="header-identity">
      <h1>{{site.title}}</h1>
      {{#if site.profile.role}}
        <p class="role">{{site.profile.role}}</p>
      {{/if}}
      {{#if site.profile.institution}}
        <p class="institution">{{site.profile.institution}}</p>
      {{/if}}
  </div>
</header>
